<div class="card">
  <div class="card-body">
    <form [formGroup]="form">
      <h2>Remarcar consulta</h2>

      <div class="row div__row">
        <div class="col">
          <div class="mb-3 row">
            <label for="nome" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                name="nome"
                formControlName="nome"
              />
              <p *ngIf="getNome().errors?.['required'] && getNome().touched" class="aviso">
                Nome obrigatório
              </p>
              <p *ngIf="getNome().errors?.['nomeInvalido'] && getNome().touched" class="aviso">Nome inválido</p>
            </div>
          </div>
          <div class="col">
            <div class="mb-3 row">
              <label for="data" class="col-sm-2 col-form-label">Data</label>
              <div class="col-sm-10">
                <input
                  type="date"
                  class="form-control"
                  name="data"
                  formControlName="data"
                />
              </div>
            </div>
            <div class="col">
              <div class="mb-3 row">
                <label for="hora" class="col-sm-2 col-form-label">Hora</label>
                <div class="col-sm-10">
                  <input
                    type="time"
                    class="form-control"
                    id="hora"
                    name="hora"
                    formControlName="hora"
                  />
                </div>
              </div>
              <div class="col">
                <div class="mb-3 row">
                  <label for="cpf" class="col-sm-2 col-form-label">CPF</label>
                  <div class="col-sm-10">
                    <input
                      type="number"
                      class="form-control"
                      name="cpf"
                      formControlName="cpf"
                      pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})|(\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2})"
                    />
                    <p
                      *ngIf="getCpf().errors?.['required'] && getCpf().touched" class="aviso"
                    >
                      CPF obrigatório
                    </p>
                    <p *ngIf="getCpf().errors?.['cpfInvalido'] && getCpf().touched" class="aviso">
                      CPF inválido
                    </p>
                  </div>
                </div>
              </div>
              <div class="mb-3 row actions">
                <button
                  type="button "
                  data-bs-target="#modalCadastro"
                  (click)="onSubmit()"
                  data-bs-toggle="modal"
                  class="btn btn-dark btn_action"
                  [disabled]="!form.valid"
                >
                  Remarcar
                </button>
                <button
                  type="button"
                  class="btn btn-light btn_action"
                  (click)="onCancel()"
                >
                  Cancelar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
