.card{
  margin-top: 4rem;
}

.div__row{
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
}
h2{
  text-align: center;
  margin-bottom:4rem ;
}
.actions{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_action{
  width: 40%;
  margin-left: 2rem;
}
.color{
  color: green;
}
.aviso{
  color: red;
  font-size: small;
}
